name: poetry-generator
channels:
  - pytorch
  - nvidia
  - conda-forge
dependencies:
  - python=3.10
  - pytorch
  - torchvision
  - torchaudio
  - pytorch-cuda=11.8
  - pytorch-lightning
  - hydra-core
  - wandb
  - numpy
  - ruff
  - mamba
  - pre-commit
